.button {
  
  // DESPLAY PROPERTIES //
  display:                inline-block;
  @include                box-sizing(border-box);
  
  // DIMENSIONS //
  padding:                0 1em;
  line-height:            2.25em;
  
  // BORDER //
  border-color:           rgba(#000, 0.2);
  @include                border-radius(0.1875em);
  border-style:           solid;
  border-width:           1px;
  
  // HIGHLIGHT & REFLECTION //
  @include
  box-shadow(
                          inset 0 1px 0 0 rgba(#fff, 0.20), 
                          inset 0 0 0 2px rgba(#000, 0.05),
                          inset 0 1em 0 0 rgba(#fff, 0.05)
  );
                        
  // BACKGROUND PROPERTIES //
  background-origin:      border-box;
  background-position:    0 top;
  background-size:        100% 200%;
  
  // DEFAULT BACKGROUND COLOR //
  background-color:       #666666;
  
  // GRADIENT OVERLAY //
  @include 
  background-image(       
                          linear-gradient(rgba(#000, 0),rgba(#000, 0.4))
  );

  // TEXT //
  color:                  white;
  text-decoration:        none;
  text-shadow:            0 1px 0 rgba(#000, 0.1), 
                          0 -1px 1px rgba(#fff, 0.4);

  // STATE TRANSITION //
  @include                transition(background-position 200ms ease-in-out);
  
  // STATES //
  
  &:hover {
    background-position:  0 center;
  }
  
  &:active {
    @include              transition(background-position 100ms ease-in-out);
    background-position:  0 bottom;
    border-color:         rgba(#000, 0.4);
    box-shadow:           inset 0 0 0 1px rgba(#fff, 0.1);

  }
  
  // SUBCLASSES //
  
  $base-color: #0080ff;
  $color-offset: 90;
    
  &.primary {
    background-color:     adjust-hue($base-color, $color-offset * 0);
  }
  
  &.secondary {
    background-color:     adjust-hue($base-color, $color-offset * 1);
  }
  
  &.tertiary {
    background-color:     adjust-hue($base-color, $color-offset * 2);
  }
  
  &.white {
    background-color:     #fff;
    color:                #333;
  }
  
}